<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Usuários!</title>
	
	{% load static %}
<link rel="shortcut icon" href="{% static 'livapp/images/favicon.png' %}"/>
	
</head>

	
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
      <!-- Tema -->
<link rel="stylesheet" type="text/css"  href="{% static 'css/bootstrap-theme.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'livapp/style.css' %}">
	




</head>

<div class="myForm">
<body>

<form method="post">
    {% csrf_token %}

    <div class="form-group">
        {{form_usuario.username.errors}}
        <label>Username: </label>
        {{form_usuario.username}}
    </div>

    <div class="form-group">
        {{form_usuario.password1.errors}}
        <label>Senha: </label>
        {{form_usuario.password1}}
    </div>

    <div class="form-group">
        {{form_usuario.password2.errors}}
        <label>Confirmação de senha: </label>
        {{form_usuario.password2}}
    </div>

    <div class="form-group">
        <input type="submit" value="Cadastrar" class="btn btn-primary">
    </div></div>
</form>

</body>
</html>