{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">


		<title>Ops!</title>
		
		{% load static %}
<link rel="shortcut icon" href="{% static 'livapp/images/favicon.png' %}"/>	
	
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
      <!-- Tema -->
<link rel="stylesheet" type="text/css"  href="{% static 'css/bootstrap-theme.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'livapp/style.css' %}">
	

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>

		
		
		
		
		function uploadFoto(){
		
			
                var data = {};
				data["file"] = document.getElementById("arquivo").value;
				data["tema"] = localStorage.getItem('tema');
				
				
				
				/*if(data["file"] == "data:,")
				{
					let abc = document.getElementById("screenshot-button");
					abc.click();
					abc = document.getElementById("botao_submit");
					abc.click();
					return;
				}*/
				
				data["pagina"] = document.getElementById("pagina").value;
		
			$.ajax({
                  type: "POST",
                  url: "{{ request.build_absolute_uri }}upload/",
				  
                  
                    enctype: 'multipart/form-data',
					data: data,
					
                    cache: false, // desabilitar o "cache"
                    
                  success: function(data){
                      console.log("success");
                      console.log(data);
					  
					  window.location.href="{% url 'livapp:pictureex3' %}"
					  return false;
					  
                  },
                  failure: function(data){
                      console.log("failure");
                      console.log(data);
					  return false;
                  },
              });
			
			return false; // avoid to execute the actual submit of the form.
		}
		
		
		// this is the id of the submit button
		
		/*
$("#botao_submit").click(function() {

    var url = "path/to/your/script.php"; // the script where you handle the form input.

    $.ajax({
           type: "POST",
           url: "{{ request.build_absolute_uri }}upload/",
           data: $("#fileUploadForm").serialize(), // serializes the form's elements.
           success: function(data)
           {
               alert(data); // show response from the php script.
           }
         });

    return false; // avoid to execute the actual submit of the form.
});*/
		
		
		function startPage(){
	
	tirarFoto();
	
	
}

function tirarFoto(){

setTimeout(function(){
      
      let botao = document.getElementById("screenshot-button");
		botao.click();
       botao = document.getElementById("botao_submit");
  botao.click();
    }, 2000);
}




//window.onload = startPage;
		

		
    </script>			
</head>




<body class="temas" onload="startPage()">


<div id="screenshot" style="text-align:center;" hidden>
  <canvas id="canvas"></canvas>

  <video class="videostream" autoplay="" ></video>
  <img id="screenshot-img" >
   <p><button class="capture-button" >Capture video</button></p>
</div>

<div class="container">
<h1 class="page-header">
					Vamos tentar de novo!
					</h1>
					<div class="row">

<div>


 
			
		<div class="col-sm-12 col-md-3">
		<button id="screenshot-button" hidden >OK</button>
		</div>
			
		<div class="col-sm-12 col-md-3">
		<img border="0" width="420" height="205" id="reforco" src="{% static 'livapp/images/dica.png' %}">
		</div>
		
		
		
		</div>
		
	
	
	</div>
	</div>
<script>

const constraints = {
  video: true,
};

const captureVideoButton = document.querySelector(
  "#screenshot .capture-button"
);
const screenshotButton = document.querySelector("#screenshot-button");


const img = document.querySelector("#screenshot img");


const video = document.querySelector("#screenshot video");


navigator.mediaDevices.getUserMedia(constraints).then((stream) => {
  video.srcObject = stream;
});

const canvas = document.getElementById("canvas");

captureVideoButton.onclick = function () {
  navigator.mediaDevices
    .getUserMedia(constraints)
    .then(handleSuccess)
    .catch(handleError);
};

screenshotButton.onclick = video.onclick = function () {
//window.location.replace("{% url 'livapp:picture' %}");
  canvas.width = video.videoWidth;
  canvas.height = video.videoHeight;
  canvas.getContext("2d").drawImage(video, 0, 0);

  // Other browsers will fall back to image/png
  img.src = canvas.toDataURL("image/webp");  
  
  
  
  document.getElementById("arquivo").value=canvas.toDataURL("image/jpeg",0.9);
  
  /*setTimeout(function(){
      let abc = document.getElementById("botao_submit");
  abc.click();
    }, 3000);*/
};


function handleSuccess(stream) {
  screenshotButton.disabled = false;
  video.srcObject = stream;
}

function handleError(error) {
  console.error("Error: ", error);
}




</script>

<h1>
      {{what}}
  </h1>
  <table>
    <tr>
      <td>
	  
	 
	  
        
          
		  <input type="hidden" name="file" id="arquivo"/>
          <br />
          <input type="hidden" name="pagina" id="pagina" value="dica3"/>
		  
		  <button id="botao_submit"  onclick= "return uploadFoto()" hidden>submit</button>
        
      </td>
    </tr>
  </table>
  
</body>
</html>